.sider {
  max-width: 25%;
  background: #fff;
  border-right: solid 1px $bg-color-dark;
  gap: 2rem;
  padding: 1.5rem 1.2rem 2rem 0;

  @media (max-width: 768px) {
    gap: 3rem;
    padding: 1rem 1rem 0 0;
  }

  @media (max-width: 635px) {
    display: none !important;
  }

  &__logo-wrapper {
    padding-left: 2.6rem;

    @media (max-width: 768px) {
      flex-grow: 0;
      height: 2.5rem;
    }
  }

  &__logo {
    height: 3.6rem;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("/src/img/svg/logo.svg");
    background-size: contain;
  }

  &__menu {
    @media (max-width: 992px) {
      gap: 1rem;
    }

    .menu__button {
      border: none;
      background-color: transparent;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 2rem;
      color: $font-color-sider;
      gap: 1.7rem;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      padding: 1rem 1.6rem 1rem 2.7rem;

      @media (max-width: 992px) {
        font-size: 1rem;
        gap: 0.8rem;
      }

      @media (max-width: 768px) {
        gap: 0.5rem;
        padding: 0.5rem 1.5rem;
      }

      &.active {
        color: $color-selected;

        .menu__icon {
          background-color: $color-selected;
        }

        &::after {
          content: "";
          width: 10px;
          height: 100%;
          background-color: $color-selected;
          border-radius: 5px;
          position: absolute;
          left: -4px;
        }
      }

      .menu__icon {
        background-color: $font-color-sider;

        @media (max-width: 992px) {
          height: 1rem !important;
        }
      }

      &.dashboard {
        .menu__icon {
          mask-image: url("/src/img/svg/home.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.transactions {
        .menu__icon {
          mask-image: url("/src/img/svg/transfer.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.accounts {
        .menu__icon {
          mask-image: url("/src/img/svg/user.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.investments {
        .menu__icon {
          mask-image: url("/src/img/svg/economic-investment.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.credit-cards {
        .menu__icon {
          mask-image: url("/src/img/svg/credit-card.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.loans {
        .menu__icon {
          mask-image: url("/src/img/svg/loan.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.services {
        .menu__icon {
          mask-image: url("/src/img/svg/service.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.my-privileges {
        .menu__icon {
          mask-image: url("/src/img/svg/econometrics.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
      &.setting {
        .menu__icon {
          mask-image: url("/src/img/svg/settings-solid.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          height: 1.5rem;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
