<header
  class="container-fluid header d-flex justify-content-between align-items-center"
>
  <nav class="navbar header-mobile container-fluid">
    <section
      class="container-fluid header-mobile__menu d-flex justify-content-between"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <section class="header-mobile__title">
        <h1>Setting</h1>
      </section>
      <button type="button" class="menu-mobile__button profile">
        <div class="menu-mobile__icon"></div>
      </button>
    </section>
  </nav>
  <section class="header__title flex-grow-1"><h1>Setting</h1></section>
  <section class="header__search">
    <input
      type="text"
      placeholder="Search for something"
      class="header__input form-control"
    />
  </section>
  <nav class="header__menu d-flex align-items-center">
    <button type="button" class="menu__button settings">
      <div class="menu__icon"></div>
    </button>
    <button type="button" class="menu__button notification">
      <div class="menu__icon"></div>
    </button>
    <button type="button" class="menu__button profile">
      <div class="menu__icon"></div>
    </button>
  </nav>
</header>
