<article class="sider d-flex flex-column position-sticky">
  <section class="sider__logo-wrapper">
    <div class="sider__logo"></div>
  </section>
  <nav class="sider__menu d-flex flex-column">
    <button
      type="button"
      class="menu__button dashboard d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Dashboard
    </button>
    <button
      type="button"
      class="menu__button transactions d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Transactions
    </button>
    <button
      type="button"
      class="menu__button accounts d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Accounts
    </button>
    <button
      type="button"
      class="menu__button investments d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Investments
    </button>
    <button
      type="button"
      class="menu__button credit-cards d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Credit Cards
    </button>
    <button type="button" class="menu__button loans d-flex align-items-center">
      <div class="menu__icon"></div>
      Loans
    </button>
    <button
      type="button"
      class="menu__button services d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      Services
    </button>
    <button
      type="button"
      class="menu__button my-privileges d-flex align-items-center"
    >
      <div class="menu__icon"></div>
      My Privileges
    </button>
    <button
      type="button"
      class="menu__button setting d-flex align-items-center active"
    >
      <div class="menu__icon"></div>
      Setting
    </button>
  </nav>
</article>
