$font-family: "Inter", sans-serif;
$font-color: #232323;
$font-color-heading: #343c6a;
$font-color-sider: #b1b1b1;
$bg-color: #f5f7fa;
$bg-color-dark: #e6eff5;
$color-selected: #1814f3;
$color-input: #718ebf;
$color-input-border: #dfeaf2;
$color-search: #8ba3cb;
$color-header-border: #f4f5f7;
$color-white: #fff;
$button-pill: 50%;
